<template>
	<div
		v-if="show"
		class="AddCommentForm overlay"
	>
		<div class="CommentWindow modal">
			<div class="CloseWindowButton">
				<button
					class="ImportantInput"
					@click="hide()"
				>
					&#128473;
				</button>
			</div>
			<h1>Dodaj komentarz</h1>
			<div class="AddCommentFormIdea">
				<p>{{ idea.text }}</p>
			</div>
			<form
				class="SimpleForm"
				@submit.prevent="addComment"
			>
				<input
					v-model="text"
					type="text"
					name="text"
					placeholder="Your Comment"
				/>
				<br />
				<div class="AddCommentFormVotes">
					<div class="VoteRadio">
						<input
							id="radio-1"
							v-model.number="rating"
							class="VoteRadioInput"
							type="radio"
							name="vote_value"
							value="-1"
						/>
						<label for="radio-1">
							-1
						</label>
					</div>
					<div class="VoteRadio">
						<input
							id="radio0"
							v-model.number="rating"
							class="VoteRadioInput"
							type="radio"
							name="vote_value"
							value="0"
						/>
						<label for="radio0">
							0
						</label>
					</div>
					<div class="VoteRadio">
						<input
							id="radio1"
							v-model.number="rating"
							class="VoteRadioInput"
							type="radio"
							name="vote_value"
							value="1"
						/>
						<label for="radio1">
							+1
						</label>
					</div>
				</div>
				<br />
				<input
					type="submit"
					value="Add Comment and Submit Vote"
				/>
			</form>
		</div>
	</div>
</template>

<script>
import { EventBus } from '../EventBus.js';

export default {
	name: 'AddCommentForm',
	data: function () {
		return {
			idea: {
				ideaID: 0,
				text: '',
			},
			text: '',
			rating: 0,
			show: false,
		};
	},
	created: function() {
		EventBus.$on('openAddCommentForm', idea => {
			this.show = true;
			this.idea = idea;
		});
	},
	methods: {
		addComment: function () {
			EventBus.$emit('wsSend', {
				function: 'addComment',
				params: {
					ideaID: this.idea.ideaID,
					text: this.text,
					rating: this.rating,
				},
			});
			this.hide();
		},
		hide: function () {
			this.show = false;
		},
	}
};
</script>

<style scoped lang="scss">
@import './../scss/_variables.scss';

.modal {
	width: 500px;
	margin: 0px auto;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0 2px 8px 3px;
	transition: all 0.2s ease-in;
	font-family: Helvetica, Arial, sans-serif;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	transition: opacity 0.2s ease;
}

.CommentWindow {
	background: rgba(0, 0, 0, 0.8);
	div, form {
		box-shadow: 0 0 0 0 #000 !important;
	}
}

.CloseWindowButton {
	float: right;
	margin: -10px;
}

.VoteRadio {
	display: inline-block;

	input[type="radio"] {
		display: none;
		& + label {
			display: block;
			width: 2em;
			padding: 10px;
		}
		&:checked + label {
			background-color: $color-accent2;
		}
	}
}

</style>
