<template>
	<div class="container">
		<h1>New idea</h1>
		<form @submit.prevent="addIdea">
			<label for="ideaText">
				Your Idea
			</label>
			<input
				id="ideaText"
				v-model="ideaText"
				type="text"
				name="ideaText"
				placeholder="Your Idea"
			/>
			<br />
			<input
				type="submit"
				value="Add Idea"
			/>
		</form>
	</div>
</template>

<script>
export default {
	name: 'AddIdeaForm',
	data: function() {
		return {
			ideaText: '',
		};
	},
	methods: {
		addIdea: function() {
			if(this.ideaText != '') {
				this.$socket.sendObj({
					function: 'addIdea',
					params: {
						text: this.ideaText,
					},
				});
				console.log('Idea sent:', {
					text: this.ideaText
				});
			} else {
				console.log('No idea text added');
			}
		}
	}
};
</script>

<style scoped lang="scss">
</style>
