<template>
	<div class="BrainstormIdeasVotingList container">
		<div>
			<table class="pure-table pure-table-horizontal">
				<thead>
					<tr>
						<th>ID</th>
						<th>Idea Text</th>
						<th>Rating</th>
						<th>Comments</th>
						<th></th>
					</tr>
				</thead>

				<tbody
					v-for="i in orderedIdeas"
					:key="i.ideaID"
					class="SimpleBox_container_ideaListEntry"
				>
					<tr
						class="maintable_Row"
					>
						<td> {{ i.ideaID }} </td>
						<td> {{ i.text }} </td>
						<td> {{ i.rating }} </td>
						<td>
							<table>
								<tr
									v-for="c in i.comments"
									:key="c.commentID"
									class="SimpleBox_container_idea"
								>
									<td>{{ c.text }} ({{ c.rating }}) Autor: {{ c.author.firstName }} {{ c.author.lastName }} ({{ c.author.username }})</td>
								</tr>
							</table>
						</td>
						<td> 			
							<button @click="openAddCommentForm(i)">
								Add comment
							</button> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import { EventBus } from '../EventBus.js';
import _ from 'lodash';

export default {
	name: 'BrainstormIdeasVotingList',
	data: function() {
		return {
			ideas: [],
		};
	},
	computed: {
		orderedIdeas: function () {
			return _.orderBy(this.ideas, 'rating', 'desc');
		}
	},
	created: function() {
		EventBus.$on('updateIdeasList', ideas => {
			this.ideas = ideas;
		});
		EventBus.$on('ideaAdded', data => {
			console.log('BrainstormIdeasVotingList idea added', data);
			this.ideas.push(data);
		});
		EventBus.$on('commentAdded', data => {
			let id = this.ideas.findIndex((element) => {
				return element.ideaID == data.ideaID;
			});
			if (id > -1) {
				this.ideas[id].comments.push(data.comment);
				this.ideas[id].rating += data.ratingChange;
			} else {
				console.log('Taki pomysł nie istnieje:', data);
			}
		});
	},
	methods: {
		openAddCommentForm: function (idea) {
			EventBus.$emit('openAddCommentForm', idea);
		},
	},
};
</script>

<style scoped lang="scss">
.ideaListEntry, .ideaListComment {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
</style>
