<template>
	<div class="BrainstormIdeasList container">
		<h2>Ideas:</h2>
		<div>
			<div
				v-for="i in ideas"
				:key="i.ideaID"
				class="container ideaListEntry"
			>
				<span>({{ i.ideaID }}) {{ i.text }}</span>
			</div>
		</div>
	</div>
</template>
<script>
import { EventBus } from '../EventBus.js';

export default {
	name: 'BrainstormIdeasList',
	data: function() {
		return {
			ideas: [],
		};
	},
	created() {
		EventBus.$on('updateIdeasList', ideas => {
			this.ideas = ideas;
		});
		EventBus.$on('ideaAdded', data => {
			this.ideas.push(data);
		});
		EventBus.$on('endIdeaPhase', () => {
			this.$nextTick(() => {
				EventBus.$emit('updateIdeasList', this.ideas);
			});
		});
	}
};
</script>

<style scoped lang="scss">
</style>
