<template>
	<div class="CreateRoomForm pure-u-1-2">
		<div class="container">
			<form
				class="SimpleForm"
				@submit.prevent="createRoom"
			>
				<h1>Create Room</h1>
				<label for="password">
					Room Admin Password
				</label>
				<input
					id="password"
					v-model="password"
					type="password"
					name="password"
					placeholder="Room Admin Password"
				/>
				<br />
				<label for="password2">
					Repeat password
				</label>
				<input
					id="password2"
					v-model="password2"
					type="password"
					name="password2"
					placeholder="Repeat password"
				/>
				<br />
				<input
					type="submit"
					value="Create Room"
				/>
				<br />
				<span
					v-if="showCorrectPasswords"
					class="createRoomFailed"
				>Make sure password fields are filled and passwords match.</span>
				<span
					v-if="showPasswordDeniedByServer"
					class="createRoomFailed"
				>The password content is incorrect.</span>
				<span
					v-if="showServerResponseError"
					class="createRoomFailed"
				>{{ errorMessageLogin }}</span>
			</form>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import { EventBus } from '../EventBus.js';
import { config } from '../config.js';

export default {
	name: 'CreateRoomForm',
	data: function () {
		return {
			password: '',
			password2: '',
			showCorrectPasswords: false,
			showPasswordDeniedByServer: false,
			showServerResponseError: false,
			errorMessageLogin: '',
		};
	},
	methods: {
		createRoom: function () {
			this.showCorrectPasswords = false;
			this.showPasswordDeniedByServer = false;
			this.showServerResponseError = false;
			if(!this.password || !this.password2 || this.password !== this.password2) {
				this.showCorrectPasswords = true;
				console.log('password check failed - make sure passwords match and theyre not empty');
			} else {
				axios.post(config.backendURI + '/joinRoom', {
					password: this.password
				}, {
					withCredentials: true,
				}).then(response => {
					if(response.data['result'] == 'ROOM_CREATED') {
						console.log('Room created succesfully');
						EventBus.$emit('roomSelected', {
							roomURI: response.data['roomURI'],
						});
					} else  {
						this.showPasswordDeniedByServer = true;
						console.log('The password is incorrect');
					}
				}, error => {
					this.showServerResponseError = true;
					this.errorMessageLogin = error;
					console.log(error);
				});
			}
		}
	}
};
</script>

<style scoped lang="scss">
.createRoomFailed
{
	color: red;
}
</style>
