<template>
	<div class="E0LoginView pure-u-1">
		<div
			v-if="showE0_LoginView"
			class="pure-g"
		>
			<LoginForm />
			<RegisterForm />
		</div>
	</div>
</template>

<script>
import LoginForm from './LoginForm.vue';
import RegisterForm from './RegisterForm.vue';
import { EventBus } from '../EventBus.js';

export default {
	name: 'E0LoginView',
	components: {
		LoginForm,
		RegisterForm
	},
	data: function () {
		return {
			showE0_LoginView: true
		};
	},
	created: function () {
		EventBus.$on('loggedIn', () => {
			this.showE0_LoginView = false;
		});
		EventBus.$on('loggedOut', () => {
			this.showE0_LoginView = true;
		});
	}
};
</script>

<style scoped lang="scss">
</style>
