<template>
	<div
		v-if="showLoggedIn"
		class="E1AfterLoginView pure-g"
	>
		<div
			v-if="showRoomSelectionView"
			class="pure-u-1-1"
		>
			<F0CreateRoomView />
		</div>
		<div
			v-else-if="showRoomSettingsView"
			class="pure-u-1-1"
		>
			<h2>Room: {{ roomURI }}</h2>
			<F1RoomSettingsView />
		</div>
		<div
			v-else-if="showIdeasView"
			class="pure-u-1-1"
		>
			<h2>Room: {{ roomURI }}</h2>
			<F2IdeasView />
		</div>
		<div
			v-else-if="showCommentsView"
			class="pure-u-1-1"
		>
			<h2>Room: {{ roomURI }}</h2>
			<F3CommentsView />
		</div>

		<!-- tu ew co sie pokazuje po zamknieciu fazy komentarzy -->
	</div>
</template>

<script>
import { EventBus } from '../EventBus.js';
import F0CreateRoomView from './F0_CreateRoomView.vue';
import F1RoomSettingsView from './F1_RoomSettingsView.vue';
import F2IdeasView from './F2_IdeasView.vue';
import F3CommentsView from './F3_CommentsView.vue';

export default {
	name: 'E1AfterLoginView',
	components: {
		F0CreateRoomView,
		F1RoomSettingsView,
		F2IdeasView,
		F3CommentsView
	},
	data: function () {
		return {
			showLoggedIn: false,
			showRoomSelectionView: false,
			showRoomSettingsView: false,
			showIdeasView: false,
			showCommentsView: false,
			roomURI: '',
		};
	},
	created: function () {
		EventBus.$on('loggedIn', () => {
			this.showLoggedIn = true;
			this.showRoomSelectionView = true;
		});
		EventBus.$on('loggedOut', () => {
			this.showLoggedIn = false;
			this.showRoomSelectionView = false;
			this.showRoomSettingsView = false;
			this.showIdeasView = false;
			this.showCommentsView = false;
		});
		EventBus.$on('roomSelected', data => {
			console.log('ROOM JOINED, SHOWING ROOM SETTINGS (F1)');
			this.showRoomSelectionView = false;
			this.showRoomSettingsView = true;
			this.showIdeasView = false;
			this.showCommentsView = false;
			this.roomURI = data.roomURI;
		});
		EventBus.$on('roomStart', () => {
			console.log('BRAINSTORM STARTED (F2)');
			this.showRoomSelectionView = false;
			this.showRoomSettingsView = false;
			this.showIdeasView = true;
			this.showCommentsView = false;
		});
		EventBus.$on('endIdeaPhase', () => {
			console.log('EndIdeaPhase (F3)');
			this.showRoomSelectionView = false;
			this.showRoomSettingsView = false;
			this.showIdeasView = false;
			this.showCommentsView = true;
		});
	}
};
</script>
