<template>
	<div
		v-if="showF0_CreateRoomView"
		class="F0CreateRoomView pure-g"
	>
		<UserRoomsList />
		<CreateRoomForm />
	</div>
</template>

<script>
import CreateRoomForm from './CreateRoomForm.vue';
import UserRoomsList from './UserRoomsList.vue';
import { EventBus } from '../EventBus.js';

export default {
	name: 'F0CreateRoomView',
	components: {
		CreateRoomForm,
		UserRoomsList
	},
	data: function() {
		return {
			showF0_CreateRoomView: true
		};
	},
	created() {
		EventBus.$on('roomCreated', (data) => {
			console.log('testEmit: '+data);
			this.showF0_CreateRoomView = false;
			console.log('showF0_CreateRoomView: '+ this.showF0_CreateRoomView);
		});
	}
};
</script>

<style lang="scss">

</style>
