<template>
	<div>
		<div class="F1RoomSettingsView">
			<h1>Brainstorm Phase 1: Preparations</h1>
			<div class="pure-g">
				<div class="pure-u-1-3">
					<RoomUserList />
				</div>
				<div class="pure-u-1-3" />
				<div class="pure-u-1-3">
					<RoomSettingsForm />
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-2-3" />
			</div>
		</div>
		<div class="footer">
			<ForceEndPhase1Form />
		</div>
	</div>
</template>

<script>
import RoomUserList from './lists/RoomUserList.vue';
import RoomSettingsForm from './RoomSettingsForm.vue';
import ForceEndPhase1Form from './ForceEndPhase1Form.vue';
import { EventBus } from '../EventBus.js';

export default {
	name: 'F1RoomSettingsView',
	components: {
		RoomUserList,
		RoomSettingsForm,
		ForceEndPhase1Form
	},
};
</script>

<style lang="scss">
</style>
