<template>
	<div>
		<div class="AddIdeaGroup">
			<h1>Brainstorm Phase 2: Ideas</h1>
			<div class="pure-g">
				<div class="pure-u-1-3">
					<UsersInTheRoomPhase2List />
				</div>
				<div class="pure-u-2-3">
					<BrainstormIdeasList />
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-2-3">
					<AddIdeaForm />
				</div>
			</div>
		</div>
		<div class="footer">
			<ForceEndPhase2Form />
		</div>
	</div>
</template>

<script>
import AddIdeaForm from './AddIdeaForm.vue';
import BrainstormIdeasList from './BrainstormIdeasList.vue';
import UsersInTheRoomPhase2List from './UsersInTheRoomPhase2List.vue';
import ForceEndPhase2Form from './ForceEndPhase2Form.vue';

export default {
	name: 'AddIdeaGroup',
	components: {
		AddIdeaForm,
		BrainstormIdeasList,
		UsersInTheRoomPhase2List,
		ForceEndPhase2Form
	}
};
</script>

<style scoped lang="scss">
</style>
