<template>
	<div>
		<div class="F3CommentsView">
			<h1>Brainstorm Phase 3: Comments</h1>
			<div class="pure-g">
				<div class="pure-u-1-1">
					<BrainstormIdeasVotingList />
					<AddCommentForm />
				</div>
			</div>
			<div class="pure-g">
				<div class="pure-u-2-3" />
			</div>
		</div>
		<div class="footer">
			<ForceEndPhase3Form />
		</div>
	</div>
</template>

<script>
//import axios from 'axios';
import { EventBus } from '../EventBus.js';
import AddCommentForm from './AddCommentForm.vue';
import BrainstormIdeasVotingList from './BrainstormIdeasVotingList.vue';
import ForceEndPhase3Form from './ForceEndPhase3Form.vue';

export default {
	name: 'F3CommentsView',
	components: {
		AddCommentForm,
		BrainstormIdeasVotingList,
		ForceEndPhase3Form
	},
};
</script>

<style scoped lang="scss">
</style>
