<template>
	<div class="ForceEndPhase1Form_container">
		<!-- <h2 class ="ForceEndPhaseForm">Start brainstorm!</h2> -->
		<form @submit.prevent="forceEndPhase">
			<label for="password">
				<b>Start Brainstorm!</b>
			</label>
			<input
				id="password"
				v-model="password"
				type="password"
				name="password"
				placeholder="Room Admin Password"
			/>
			<input
				type="submit"
				class="ImportantInput"
				value="Continue"
			/>
		</form>
	</div>
</template>

<script>
import { EventBus } from '../EventBus.js';

export default {
	name: 'ForceEndPhase1Form',
	data: function () {
		return {
			password: '',
		};
	},
	methods: {
		forceEndPhase: function () {
			if (this.password) {
				EventBus.$emit('wsSend', {
					function: 'changeRoomPhase',
					params: {
						newPhase: 1,
						adminPassword: this.password,
					},
				});
			} else {
				console.log('Password missing');
			}
		}
	}
};
</script>

<style scoped lang="scss">
</style>
