<template>
	<form
		class="JoinRoomURI"
		@submit.prevent="joinRoomURI"
	>
		<label>Room URI:</label>
		<input
			v-model="roomURI"
			type="text"
			name="roomURI"
			placeholder="URI"
		/>
		<input
			type="submit"
			value="Join"
		/>
	</form>
</template>

<script>
import { EventBus } from '../EventBus.js';
import { config } from '../config.js';
import axios from 'axios';

export default {
	name: 'JoinRoomURI',
	data: function () {
		return {
			roomURI: ''
		};
	},
	methods: {
		joinRoomURI: function () {
			axios.post(config.backendURI + '/joinRoom', {
				roomURI: this.roomURI,
			}, {
				withCredentials: true,
			}).then(response => {
				if(response.data['result'] == 'ROOM_JOINED') {
					EventBus.$emit('roomSelected', {
						roomURI: this.roomURI,
					});
				} else {
					console.log('Join failed');
				}
			});
		}
	}
};
</script>
