<template>
	<div class="SimpleBox">
		<form
			class="JoinRoom"
			@submit.prevent="joinRoom"
		>
			<span class="JoinRoomSpan SimpleText">
				{{ name }} ({{ roomURI }})
			</span>
			<input
				class="JoinRoomButton"
				type="submit"
				value="Join"
			/>
		</form>
	</div>
</template>

<script>
import { EventBus } from '../EventBus.js';
import axios from 'axios';
import { config } from '../config.js';

export default {
	name: 'JoinRoom',
	props: {
		name: {
			type: String,
			default: ''
		},
		roomURI: {
			type: String,
			default: ''
		}
	},
	methods: {
		joinRoom: function () {
			axios.post(config.backendURI + '/joinRoom', {
				roomURI: this.roomURI,
			}, {
				withCredentials: true,
			}).then(response => {
				let roomURI = response.data['roomURI'];
				if(response.data['result'] == 'ROOM_JOINED') {
					EventBus.$emit('roomSelected', {
						roomURI: roomURI,
					});
				} else {
					console.log('Join failed');
				}
			});
		}
	}
};
</script>

<style lang="scss">
@import './../scss/_variables.scss';
	.JoinRoom {
		color: white;
		width: 100%;
		height: $input-height;
		display: block;
	}
	.JoinRoomSpan {
		padding: 5px;
		float: left;
	}
	.JoinRoomButton {
		float: right;
		margin: auto;
	}
</style>
