<template>
	<div class="pure-u-1-2">
		<div class="container">
			<form
				id="LoginForm"
				class="LoginForm SimpleForm"
				@submit.prevent="login"
			>
				<h1>Login</h1>
				<input
					v-model="username"
					type="text"
					name="username"
					placeholder="Username"
				/>
				<br />
				<input
					v-model="password"
					type="password"
					name="password"
					placeholder="Password"
				/>
				<br />
				<input
					type="submit"
					value="Login"
				/>
				<br />
				<span
					v-if="showWrongUserNameOrPassword"
					class="loginFailed"
				>
					The username and / or password is incorrect
				</span>
				<span
					v-if="showUserNameAndPasswordMustBePresent"
					class="loginFailed"
				>
					A username and password must be present
				</span>
				<span
					v-if="showConnectionFailed"
					class="loginFailed"
				>
					Connection failed
				</span>
				<span
					v-if="showLoginError"
					class="loginFailed"
				>
					{{ LoginError }}
				</span>
			</form>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import { EventBus } from '../EventBus.js';
import { config } from '../config.js';

export default {
	name: 'LoginForm',
	data: function () {
		return {
			username: '',
			password: '',
			showWrongUserNameOrPassword: false,
			showUserNameAndPasswordMustBePresent: false,
			showConnectionFailed: false,
			showLoginError: false,
			LoginError: '',
		};
	},
	created: function () {
		this.getUserInfo();
	},
	methods: {
		login: function () {
			this.showWrongUserNameOrPassword = false;
			this.showUserNameAndPasswordMustBePresent = false;
			this.showConnectionFailed = false;
			this.showLoginError= false;
			this.LoginError= '';
			if(this.username && this.password) {
				axios.post(config.backendURI + '/login', {
					username: this.username,
					password: this.password,
				}, {
					withCredentials: true,
				}).then(response => {
					if(response.data['result'] == 'SUCCESS') {
						this.getUserInfo();
					} else {
						console.log('The username and / or password is incorrect');
						this.showWrongUserNameOrPassword = true;
					}
				}, error => {
					this.showLoginError= true;
					this.LoginError = error;
					console.log(error);
				}).catch(() => {
					this.showConnectionFailed = true;
				});
			} else {
				console.log('Username and password must be present');
				this.showUserNameAndPasswordMustBePresent = true;
			}
		},
		getUserInfo: function () {
			axios.post(config.backendURI + '/getUserInfo', {}, {
				withCredentials: true,
			}).then(response => {
				EventBus.$emit('loggedIn', {
					username: this.username,
					userInfo: response['userInfo'],
				});
			}, () => {
				console.log('session authentication failed, login is required');
			});
		}
	}
};
</script>

<style scoped lang="scss">
.loginFailed {
	color: red;
}
</style>
