<template>
	<div
		v-if="showLogOut"
		class="LogOut"
	>
		<form
			id="LogOutButton"
			@submit.prevent="LogOut"
		>
			<input
				type="submit"
				class="ImportantInput"
				value="Log Out"
			/>
		</form>
	</div>
</template>

<script>
import { EventBus } from '../EventBus.js';
import axios from 'axios';
import { config } from '../config.js';

export default {
	name: 'LogOut',
	data: function() {
		return {
			showLogOut: false,
		};
	},
	created() {
		EventBus.$on('loggedIn', () => {
			this.showLogOut = true;
		});
	},
	methods: {
		LogOut: function() {
			axios.post(config.backendURI + '/logOut', {
				roomID: this.roomID,
			}, {
				withCredentials: true,
			}).then(response => {
				if(response.data['result'] == 'LOGGED_OUT') {
					EventBus.$emit('loggedOut');
				} else {
					console.log('Logout failed');
				}
			}).catch((error) => {
				console.log(error);
				EventBus.$emit('loggedOut');
			});
			this.showLogOut = false;
		}
	}
};
</script>

<style scoped lang="scss">
.LogOut {
	position: absolute;
	top: 10px;
	right: 10px;
}
</style>
