<template>
	<div class="pure-u-1">
		<a href="/">
			<img
				id="logoImg"
				:src="require('./../assets/thunderbrain.svg')"
			/>
		</a>
	</div>
</template>

<script>
export default {};
</script>

<style lang="scss">
#logoImg {
	height: 200px;
	margin-bottom: -30px;
}
</style>
