<template>
	<div class="pure-u-1-2">
		<div class="container">
			<h1>Register</h1>
			<form
				class="RegisterForm SimpleForm"
				@submit.prevent="register"
			>
				<label for="username">
					Username
				</label>
				<input
					id="username"
					v-model="username"
					type="text"
					name="username"
					placeholder="Username"
				/>
				<br />
				<label for="password">
					Password
				</label>
				<input
					id="password"
					v-model="password"
					type="password"
					name="password"
					placeholder="Password"
				/>
				<br />
				<label for="password2">
					Repeat password
				</label>
				<input
					id="password2"
					v-model="password2"
					type="password"
					name="password2"
					placeholder="Repeat password"
				/>
				<br />
				<label for="firstName">
					First Name
				</label>
				<input
					id="firstName"
					v-model="firstName"
					type="text"
					name="firstName"
					placeholder="First Name"
				/>
				<br />
				<label for="lastName">
					Last Name
				</label>
				<input
					id="lastName"
					v-model="lastName"
					type="text"
					name="lastName"
					placeholder="Last Name"
				/>
				<br />
				<label for="email">
					E-mail adress
				</label>
				<input
					id="email"
					v-model="email"
					type="email"
					name="email"
					placeholder="E-mail adress"
				/>
				<br />
				<input
					type="submit"
					value="Register"
				/>
				<br />

				<span
					v-if="showMissingUserData"
					class="registerFailed"
				>
					All user data must be present
				</span>
				<span
					v-if="showIncorrectData"
					class="registerFailed"
				>
					Data incorrect, denied by server
				</span>
			</form>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import { EventBus } from '../EventBus.js';
import { config } from '../config.js';

export default {
	name: 'RegisterForm',
	data: function() {
		return {
			username: '',
			password: '',
			password2: '',
			firstName: '',
			lastName: '',
			email: '',
			showMissingUserData: '',
			showIncorrectData: '',
		};
	},
	methods: {
		register: function () {
			this.showMissingUserData = false;
			this.showIncorrectData = false;
			if(this.username && this.password && this.password2 && this.firstName && this.lastName && this.email) {
				axios.post(config.backendURI + '/registerUser', {
					username: this.username,
					password: this.password,
					firstName: this.firstName,
					lastName: this.lastName,
					email: this.email,
				}, {
					withCredentials: true,
				}).then(response => {
					if(response.data['result'] == 'SUCCESS') {
						this.getUserInfo();
					} else {
						this.showMissingUserData = true;
						console.log('Data is incorrect');
					}
				});
			} else {
				this.showMissingUserData = true;
				console.log('All user data must be present');
			}
		},
		getUserInfo: function () {
			console.log('getUserInfo');
			axios.post(config.backendURI + '/getUserInfo', {}, {
				withCredentials: true,
			}).then(response => {
				EventBus.$emit('registered', {
					username: this.username,
					userInfo: response['userInfo'],
				});
				EventBus.$emit('loggedIn', {
					username: this.username,
					userInfo: response['userInfo'],
				});
			}, () => {
				this.showIncorrectData = true;
				console.log('Session authentication failed, login is required');
			});
		}
	}
};
</script>

<style scoped lang="scss">
.registerFailed
{
	color: red;
}
</style>
