<template>
	<div class="RoomSettingsForm container">
		<h1>Room Settings</h1>
		<form
			class="SimpleForm"
			@submit.prevent="saveRoomSettings"
		>
			<label for="name">
				Room name
			</label>
			<input
				id="name"
				v-model="name"
				type="text"
				name="name"
				placeholder="Room name"
			/>
			<br />
			<label for="ideasTime">
				Ideas posting time
			</label>
			<input
				id="ideasTime"
				v-model.number="ideasTime"
				type="number"
				name="ideasTime"
				placeholder="Ideas posting time"
			/>
			<br />
			<label for="commentsTime">
				Comments posting time
			</label>
			<input
				id="commentsTime"
				v-model.number="commentsTime"
				type="number"
				name="commentsTime"
				placeholder="Comments posting time"
			/>
			<br />
			<label for="roomTTL">
				Room TTL
			</label>
			<input
				id="roomTTL"
				v-model.number="roomTTL"
				type="number"
				name="roomTTL"
				placeholder="Room TTL"
			/>
			<br />
			<label for="password">
				Room Admin Password
			</label>
			<input
				id="password"
				v-model="password"
				type="password"
				name="password"
				placeholder="Room Admin Password"
			/>
			<br />
			<input
				type="submit"
				value="Save Room Settings"
			/>
			<button
				@click="testEmitRoomSettingsChanged()"
			>
				test Emit roomSettingsChanged (as from web socket)
			</button>
		</form>
	</div>
</template>

<script>
import { EventBus } from '../EventBus.js';

export default {
	name: 'RoomSettingsForm',
	data: function () {
		return {
			name: '',
			ideasTime: '',
			commentsTime: '',
			roomTTL: '',
			password: '',
		};
	},
	created: function () {
		EventBus.$on('roomSettingsChanged', data => {
			this.name = data.name;
			this.ideasTime = data.ideasTime;
			this.commentsTime = data.commentsTime;
			this.roomTTL = data.roomTTL;
		});
	},
	methods: {
		saveRoomSettings: function () {
			if (!this.password) {
				console.log('Password missing');
				return;
			}

			EventBus.$emit('wsSend', {
				function: 'changeRoomSettings',
				params: {
					name: this.name,
					ideasTime: this.ideasTime,
					commentsTime: this.commentsTime,
					roomTTL: this.roomTTL,
					adminPassword: this.password,
				}
			});
		},
		testEmitRoomSettingsChanged: function () {
			EventBus.$emit('roomSettingsChanged', {
				name: 'test name x',
				ideasTime: 5,
				commentsTime: 5,
				roomTTL: 15,
			});
		}
	}
};
</script>

<style scoped lang="scss">
</style>
