<template>
	<div class="SocketSenderButton">
		<h1>Socket Sender Button</h1>
		<button
			@click="get({action: 'plus'})"
		>
			get
		</button>
	</div>
</template>

<script>
export default {
	name: 'SocketSenderButton',
	props: {},
	methods: {
		get: function () {
			this.$socket.sendObj({});
		}
	},
};
</script>

<style scoped lang="scss">
	.SocketSenderButton {}
</style>
