<template>
	<div class="UserRoomsList pure-u-1-2">
		<div class="pure-g">
			<div class="pure-u-1-1">
				<div class="container">
					<h2>My rooms:</h2>

					<div class="RoomsListTable">
						<div
							v-for="r in rooms"
							:key="r.roomURI"
						>
							<JoinRoom
								:name="r.name"
								:room-u-r-i="r.roomURI"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="pure-u-1-1">
				<div class="container">
					<h2>Join room:</h2>
					<div id="join_room_component">
						<JoinRoomURI />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
// import { EventBus } from '../EventBus.js';
import { config } from '../config.js';
import JoinRoom from './JoinRoom.vue';
import JoinRoomURI from './JoinRoomURI.vue';

export default {
	name: 'UserRoomList',
	components: {
		JoinRoom,
		JoinRoomURI
	},
	data: function () {
		return {
			rooms: [],
		};
	},
	created: function () {
		this.getUserRoomsList();
	},
	methods: {
		getUserRoomsList: function () {
			axios.post(config.backendURI + '/getUserRoomsList', {}, {
				withCredentials: true,
			}).then(response => {
				this.rooms = response.data.rooms;
			});
		}
	},
};
</script>

<style scoped lang="scss">
</style>
