<template>
	<div class="UsersInTheRoomPhase2List container">
		<h2>Users in the room:</h2>
		<div class="UsersInTheRoomPhase2List">
			<div
				v-for="u in users"
				:key="u.username"
				class="container userListEntry"
			>
				{{ u.firstName }} {{ u.lastName }} ({{ u.username }})
			</div>
		</div>
	</div>
</template>
<script>
import { EventBus } from '../EventBus.js';

export default {
	name: 'UsersInTheRoomPhase2List',
	data: function () {
		return {
			users: [],
		};
	},
	created: function () {
		EventBus.$on('roomUserList', users => {
			(users || []).forEach(this.addUser.bind(this));
		});
		EventBus.$on('userJoined', this.addUser.bind(this));
		EventBus.$on('userLeft', data => {
			let id = this.users.findIndex(element => {
				return element.username == data.username;
			});
			if (id > -1) {
				this.users.splice(id, 1);
			}
		});
	},
	methods: {
		addUser: function (user) {
			let exists = this.users.some(item => {
				return item.username === user.username;
			});
			if (!exists) {
				this.users.push(user);
			}
		}
	}
};
</script>

<style scoped lang="scss">
</style>
