<template>
	<div id="app">
		<div>
			<button @click="testEmitLoggedIn()">
				test emit loggedIn
			</button>
			<button @click="testEmitRoomJoined()">
				test emit roomSelected
			</button>
			<button @click="testEmitStartRoom()">
				test emit StartRoom (START BRAINSTORM)
			</button>
			<button @click="testEmitEndIdeaPhase()">
				test emit EndIdeaPhase (START COMMENTING IDEAS)
			</button>
		</div>
		<div id="pure-g">
			<LogOut />
			<Logo />
			<E0LoginView />
			<E1AfterLoginView />
		</div>
	</div>
</template>

<script>
import { EventBus } from './EventBus.js';

import E0LoginView from './components/E0_LoginView.vue';
import E1AfterLoginView from './components/E1_AfterLoginView.vue';
import Logo from './components/Logo.vue';
import LogOut from './components/LogOut.vue';

export default {
	name: 'App',
	components: {
		Logo,
		LogOut,
		E0LoginView,
		E1AfterLoginView,
	},
	methods: {
		testEmitLoggedIn: function() {
			EventBus.$emit('loggedIn', {
				username: this.username,
				userInfo: {},
			});
		},

		testEmitRoomJoined: function() {
			EventBus.$emit('roomJoined');
		},

		testEmitStartRoom: function(){
			EventBus.$emit('roomStart', {
				roomURI: '1234567890abcdef'
			});
		},

		testEmitEndIdeaPhase: function(){
			EventBus.$emit('endIdeaPhase', {
				roomURI: '1234567890abcdef'
			});
		},
	}
};
</script>

<style lang="scss">
@import './scss/_variables.scss';
@import './scss/main.scss';
@import './css/pure.css';

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
</style>
