$color-main: #333333;
$color-secondary: rgba(0, 0, 0, 0.5);

$color-main-marked: #444444;
$color-main-duo: #555555;
$color-main-duo-marked: #666666;
$color-main-inter: #444444;
$color-main-inter-marked: #555555;
$color-accent: #820ad8;
$color-accent-marked: #9129db;
$color-accent2: #a50ad8;
$color-accent3: #0099cc;
$color-accent-warning: #f44c09;

// $color-inputs: #73a9bc;
$color-inputs: #5d91a4;
$color-inputs-focus: #98a1a5;
$color-inputs-warn: #f44c09;

$radius: 3px;
$shadow-height: 2px;
$shadow-width: 2px;
$shadow-size: 2px;
$shadow-blur-radius: 5px;
$shadow-spread-radius: 2px;
$shadow-color: rgba(150, 150, 150, 0.3);

$input-height: 30px;
