@import 'variables';
// @import 'bootstrap-custom';

body {
	background-color: $color-main;
	margin: 0;
	height: 100%;
	color: white;
}

h1, h2, h3 {
	margin: 5px;
	padding: 10px;
}

// End phase buttons (input type=submit)
.ImportantInput:hover {
	background-color: $color-inputs-warn;
}

.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	border: none;
	border-radius: $radius;
	// padding: 5px;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0 0 $shadow-blur-radius $shadow-spread-radius $shadow-color;
	transition: all 0.5s;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

table {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	tr, td {
		height: 100%;
		& > div {
			height: 100%;
			margin: 0 5px;
		}
	}
}

input {
	min-width: 200px;
}
input[type="submit"], button {
	min-width: 100px;
}

input, button, .SimpleInput {
	border-radius: $radius;
	height: $input-height;
	border: none;
	padding: 3px 10px;
	transition: all 0.5s;
	background-color: $color-inputs;
	margin: 5px;

	&:hover, &:focus {
		background-color: $color-inputs-focus;
	}
}
